name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  zig_version: 0.15.1

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.zig_version }}
      - run: zig build

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ env.zig_version }}
      - run: zig fmt --check *.zig
